<?xml version="1.0"?>
<model>
  <name>EN613 Basic Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Galen Mullins</name>
   <email>gmullin3@jhu.edu</email>
  </author>

  <description>
    A basic robot with a differential drive and laser scanner included.
  </description>
</model>
